# LaTeX build and auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol

# VS Code settings
.vscode/

# LaTeX bibliography auxiliary files
*-blx.bib
